<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); %>
    <link href="css/tablestyle.css" rel="stylesheet" type ="text/css">
<body>
    <div class="container">
        <%- include('./partials/nav.ejs'); %>
    </div>


        <h1>Order History</h1>
       
        
    
    <div class = "container">
        <% if(quotes === undefined)
        { %>
            <p>Nothing to display</p>

       <% } %>
       <% if(quotes !== undefined) { %>
        <table>
            <tr>
                <th>Quote ID</th>
            <th>Order Date</th>
            <th>Gallons Requested</th>
            <th>Price per Gallon</th>
            <th>Delivery Date</th>
            <th>Delivery Address</th>
            <th>Total Cost</th>

            </tr>
            <% for(var i =0; i < quotes.length; i++) { 
                var requestDate = quotes[i].RequestDate.toString();
                var OrderDate = requestDate.slice(0,15);
                var DeliveryDate = quotes[i].DeliveryDate.toString();
                DeliveryDate = DeliveryDate.slice(0,15);
                %>
                <tr>
                <td> <%= quotes[i].QuoteID %> </td>
                <td> <%= OrderDate %> </td>
                <td> <%= quotes[i].Gallons %> </td>
                <td> <%= 1.50 %> </td>
                <td> <%= DeliveryDate %> </td>
                <td> <%= quotes[i].Address %> </td>
                <td> <%= quotes[i].Total %> </td>
            </tr>

            <% } %>
        </table>

        <% } %> 
    
</div>



<script src="nav.js"></script>